#profile-page-container{
     background-image: url('../assets/profile-page.png');
     background-size: 100% 100%;
     width: 100%;
     height: 100%;
     position: fixed;
}

#bttn-close-profile{
     background-image: url('../assets/x-bttn.png');
     background-size: 100% 100%;
     width: 3.5vw;
     height: 7.5vh;
     position: fixed;
     right: 3vw;
     top: 5vh;
}

#bttn-close-book-detail{
     background-image: url('../assets/x-bttn.png');
     background-size: 100% 100%;
     width: 3vw;
     height: 6.5vh;
     position: relative;
     left: 13vw;
     top: 7vh;
}

#bttn-close-voucher-detail{
     background-image: url('../assets/x-bttn.png');
     background-size: 100% 100%;
     width: 2.5vw;
     height: 6.5vh;
     position: relative;
     left: 12vw;
     top: 7vh;
}

#bttn-close-profile:hover,
#bttn-close-book-detail:hover,
#bttn-close-voucher-detail:hover{
     cursor: pointer;
     background-image: url('../assets/x-bttn-hover.png');
}

#bttn-close-profile:active,
#bttn-close-book-detail:active,
#bttn-close-voucher-detail:active{
     background-image: url('../assets/x-bttn-clicked.png');
}

#logout-bttn{
     color: white;
     font-family: Atma-bold;
     position: fixed;
     bottom: 21.5vh;
     left: 10vw;
     font-size: 1.5vw;
}

#logout-bttn:hover{
     cursor: pointer;
     color: black;
}

#book-bttn{
     color: white;
     font-family: Atma-bold;
     position: fixed;
     top: 16.5vh;
     left: 11.5vw;
     font-size: 1.5vw;
}

#book-bttn:hover{
     cursor: pointer;
     color: black;
}

#voucher-bttn{
     color: white;
     font-family: Atma-bold;
     position: fixed;
     top: 27.5vh;
     left: 10vw;
     font-size: 1.5vw;
}

#voucher-bttn:hover{
     cursor: pointer;
     color: black;
}

#set-book-container{
     /* background-color: red; */
     width: 29vw;
     height: 77vh;
     position: fixed;
     top: 11vh;
     right: 19vw;
}

#set-voucher-container{
     /* background-color: red; */
     width: 29vw;
     height: 77vh;
     position: fixed;
     top: 11vh;
     left: 19vw;
}

#book-form-container{
     display: flex;
     flex-direction: column;
}

#book-form-container input[type="text"],
#book-form-container input[type="number"]{
     height: 5vh;
     background-color: white;
     padding-left: 1vw;
     padding-right: 1vw;
     font-size: 1.2vw;
     border: solid black 0.1vw;
     border-radius: 1vw;
     margin-bottom: 0.2vw;
}

#book-form-container input[type="file"]{
     margin-bottom: 0.2vw;
}

#book-form-container input:focus{
     outline: none;
}

.book-component-container-1{
     display: flex;
     /* margin: 0.5vw 0 0.5vw 0; */
     gap: 1vw;
     width: 29vw;
     box-sizing: content-box;
}

.book-component-container-2{
     display: flex;
     flex-direction: column;
}


.book-component-container-3{
     display: flex;
     margin: 0.5vw 0 0.5vw 0;
     width: 29vw;
     box-sizing: content-box;
     align-items: center;
     /* gap: 2vw; */
     justify-content: space-between;
}

#author, #publisher, #voucherCost, #voucherStock{
     width: 14vw;
}

#totalPage, #bookLevel{
     width: 5vw;
}

#genre, #category{
     width: 8vw;
}

#book-form-container textarea{
     width: 29vw;
     height: 10vh;
     padding: 0.5vw 1vw 0.5vw 1vw;
     margin-bottom: 0.2vw;
}

#book-submit{
     background-color: transparent;
     border: none;
     font-size: 2vw;
     font-family: Atma-bold;
     text-align: start;
     position: fixed;
     bottom: 14vh;
     right: 20vw;
}

#voucher-submit{
     background-color: transparent;
     border: none;
     font-size: 2vw;
     font-family: Atma-bold;
     text-align: start;
     position: fixed;
     bottom: 14vh;
     left: 20vw;
}

#book-submit:hover{
     color: white;
     cursor: pointer;
}

#voucher-submit:hover{
     color: white;
     cursor: pointer;
}

#coverbook-container{
     display: flex;
     margin-top: 0.5vw;
     gap: 0.5vw;
}

#voucherimg-container{
     display: flex;
     flex-direction: column;
     margin-top: 0.5vw;
     gap: 0.5vw;
}

#coverBookPhoto{
     background-color: white;
     width: 7vw;
     height: 19vh;
     /* position: fixed;
     bottom: 15vh;
     right: 19vw; */
}

#voucherImgPhoto{
     background-color: white;
     width: 16vw;
     height: 14vh;
     /* position: fixed;
     bottom: 15vh;
     right: 19vw; */
}

#list-book-container{
     /* background-color: red; */
     width: 30vw;
     height: 73vh;
     position: fixed;
     top: 12vh;
     left: 19vw;
     /* overflow: scroll; */
}

#list-voucher-container{
     /* background-color: red; */
     width: 30vw;
     height: 73vh;
     position: fixed;
     top: 12vh;
     right: 19vw;
     /* overflow: scroll; */
}

#list-book-container-2{
     /* background-color: red; */
     width: 30vw;
     height: 65vh;
     position: fixed;
     top: 19vh;
     left: 19vw;
     overflow: scroll;
}

#list-voucher-container-2{
     /* background-color: red; */
     width: 30vw;
     height: 65vh;
     position: fixed;
     top: 19vh;
     right: 19vw;
     overflow: scroll;
}

#list-book-container h2{
     font-size: 2vw;
}

#book-show-container{
     width: 30vw;
     height: 27vh;
     /* background-color: red; */
     display: flex;
     gap: 1vw;
     padding: 1vw;
}

#book-show-container:hover{
     cursor: pointer;
     background-color: white;
     opacity: 0.5;
}

#cover-book-img{
     background-color: white;
     width: 8vw;
     height: 23vh;
}

#edit-bttn-container{
     margin-left: 3vw;
}

#edit-book-bttn:hover,
#delete-book-bttn:hover{
     cursor: pointer;
     color: red;
}

#book-detail-background{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.4);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 10;
}

.book-detail-container,
.add-question-container{
     background-image: url('../assets/small-board.png');
     background-size: 100% 100%;
     width: 40vw;
     height: 80vh;
     animation: moveUp 0.5s ease-in;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.voucher-detail-container{
     background-image: url('../assets/small-board.png');
     background-size: 100% 100%;
     width: 35vw;
     height: 60vh;
     animation: moveUp 0.5s ease-in;
     display: flex;
     flex-direction: column;
     align-items: center;
}

#book-detail-information{
     display: flex;
     flex-direction: column;
     width: 32vw;
     overflow: scroll;
     height: 60vh;
     margin-left: 1vw;
}

#voucher-detail-information{
     display: flex;
     flex-direction: column;
     width: 25vw;
     overflow: scroll;
     height: 60vh;
     margin-left: 1vw;
}

#question-list-container{
     display: flex;
     flex-direction: column;
     margin-top: 3vh;
}

#question-list-header{
     display: flex;
     justify-content: space-between;
     padding-right: 2vw;
}

#add-question:hover{
     cursor: pointer;
     text-decoration: underline;
}

#add-question-form{
     display: flex;
     flex-direction: column;
     width: 30vw;
     height: 56vh;
     gap: 2vh;
     overflow: scroll;
     margin-top: 2vh;
}

.add-opsi-container{
     display: flex;
     justify-content: space-between;
}

.answer-radio-container{
     display: flex;
     gap: 1vw;
}

#add-question-form input[type="text"]{
     height: 5vh;
     background-color: white;
     padding-left: 1vw;
     padding-right: 1vw;
     font-size: 1.2vw;
     border: solid black 0.1vw;
     border-radius: 1vw;
     margin-bottom: 0.2vw;
}

#submit-add-question-container{
     /* background-color: red; */
     width: 100%;
     display: flex;
     justify-content: center;
}

#submit-add-question-container button{
     font-size: 1.7vw;
     background-color: transparent;
     border: none;
}

#submit-add-question-container button:hover{
     cursor: pointer;
     text-decoration: underline;
}

#question-list{
     display: flex;
     flex-direction: column;
}