#type-filter-container{
     display: flex;
     gap: 4vw;
     width: 100%;
     justify-content: center;
     margin-top: 15vh;
}

.filter-voucher-selected{
     background-image: url('../assets/voucher-type-selected.png');
     background-size: 100% 100%;
     width: 10vw;
     height: 10vh;
     font-size: 1.5vw;
     font-family: Atma-semibold;
     text-align: center;
     line-height: 10vh;
}

.filter-voucher{
     background-image: url('../assets/voucher-type.png');
     background-size: 100% 100%;
     width: 10vw;
     height: 10vh;
     font-size: 1.5vw;
     font-family: Atma-semibold;
     text-align: center;
     line-height: 10vh;
}

.filter-voucher:hover{
     background-image: url('../assets/voucher-type-selected.png');
     cursor: pointer;
}

#choose-voucher-container-all{
     width: 100%;
     margin-top: 10vh;
     margin-bottom: 10vh;
     display: flex;
     flex-direction: column;
     gap: 10vh;
     overflow: hidden;
}

.choose-voucher-container{
     width: 100%;
     height: 45vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.choose-voucher-img{
     width: 50vw;
     height: 100%;
}

.choose-voucher-detail-container-1{
     width: 40vw;
     height: 45vh;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
}

.choose-voucher-detail-container-2{
     width: 40vw;
     height: 45vh;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}

.choose-voucher-name{
     background-color: #00B1FF;
     width: 20vw;
     height: 10vh;
     z-index: 1;
     position: absolute;
     color: white;
     font-size: 1.7vw;
     text-align: center;
     line-height: 10vh;
     font-family: Atma semibold;
}

.choose-voucher-desc-container-1{
     background-image: url('../assets/kertas-blue.png');
     background-size: 100% 100%;
     width: 100%;
     height: 40vh;
     margin-top: 5vh;
     margin-right: -2vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     padding-bottom: 3vh;
}

.choose-voucher-desc-container-2{
     background-image: url('../assets/kertas-blue.png');
     background-size: 100% 100%;
     width: 100%;
     height: 40vh;
     margin-top: 5vh;
     margin-left: -2vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     justify-content: space-between;
     padding-bottom: 3vh;
}

.choose-voucher-desc{
     margin-top: 6vh;
     width: 35vw;
     padding: 0 0.5vw 0 0.5vw;
     text-align: justify;
}

.choose-voucher-action-container{
     display: flex;
     justify-content: space-between;
     width: 35vw;
     margin-bottom: 1vh;
     /* background-color: orange; */
}

.choose-voucher-coin-container{
     display: flex;
     gap: 0.7vw;
     align-items: center;
}

.choose-voucher-coin-container h2{
     font-family: Atma-bold;
}

.choose-voucher-coin-img{
     background-image: url('../assets/coin.png');
     background-size: 100% 100%;
     width: 3vw;
     height: 6vh;
}

.tukar-bttn-1{
     background-image: url('../assets/blue-bttn.png');
     background-size: 100% 100%;
     width: 6vw;
     height: 7vh;
     text-align: center;
     font-size: 1.5vw;
     color: white;
     line-height: 7vh;
     font-family: Atma semibold;
     margin-right: 1vw;
}

.tukar-bttn-2{
     background-image: url('../assets/blue-bttn.png');
     background-size: 100% 100%;
     width: 6vw;
     height: 7vh;
     text-align: center;
     font-size: 1.5vw;
     color: white;
     line-height: 7vh;
     font-family: Atma semibold;
     margin-left: 1vw;
}

.tukar-bttn-1:hover,
.tukar-bttn-2:hover{
     background-image: url('../assets/bacakita-text.png');
     cursor: pointer;
     color: #00B1FF;
}

.exchange-confirmation-container{
     background-image: url('../assets/small-board.png');
     background-size: 100% 100%;
     width: 30vw;
     height: 60vh;
     padding: 3vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     animation: moveUp 0.5s ease;
}

.exchange-confirmation-container h1{
     text-align: center;
     font-family: Atma-bold;
     font-size: 3vw;
}

#exchange-confirm-desc{
     font-size: 1.5vw;
     margin-bottom: 3vh;
}

#success-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

#success-container h2{
     color: white;
     font-size: 3vw;
}

#success-container h4{
     color: red;
     font-size: 1.5vw;
}

#success-result{
     background-image: url('../assets/correct.gif');
     background-size: 100% 100%;
     width: 30vw;
     height: 60vh;
     margin-left: 2vw;
}

#failed-result{
     background-image: url('../assets/wrong.gif');
     background-size: 100% 100%;
     width: 30vw;
     height: 60vh;
     margin-left: 2vw;
}